@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ActionLink("Add new customer", "CustomerForm", new
{
    controller = "Customers",
}, new { @class = "btn btn-success" })


@if (!Model.Any())
{
    <p> No customers yet</p>
}
else
{
    <table class="table table-hover table-bordered table-striped" id="customers">
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td> @Html.ActionLink(customer.Name, "Edit", new { controller = "Customers", id = @customer.Id })</td>
                <td>@Html.DisplayFor(c => customer.MembershipType.Name)</td>
                <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
            </tr>
        }
    </table>
}



@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click",
                function () {
                    const button = $(this);

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: `/api/customer/${button.attr("data-customer-id")}`,
                                    method: "DELETE",
                                    success: function () {
                                        console.log("success");
                                        button.parents("tr").remove();
                                    },
                                    error: function () {
                                        console.log('An error occurred');
                                    }
                                });
                            }
                        });
                });
        });
    </script>

}
